/*
Ecobrutalist theme

          Shadow Black / Gunmetal / Dark Charcoal / Charcoal
    cement  = {"#1b1610", "#2a3439", "#333333", "#36454f"},

            Lime Green / Spring Green / Sea Green / Dark Green
    green   = {"#32cd32", "#00daa1", "#2e8b57", "#006400"},
*/
html {
    background-color: #006400;
    font-family: "Kanit";
}

h1 {
    color: #32cd32;
    font-family: "Aldrich";
    margin: 0px;
    text-shadow: 
        1px 0px 8px #2e8b57,
        -1px 0px 10px #006400;
}

h2 {
    font-family: "Aldrich";
    margin: 0px;
    text-shadow: 
        1px 0px 8px #2e8b57,
        -1px 0px 10px #006400;
}

hr {
    border: none;
    border-top: 2px solid;
    color: #32cd32;
}

button {
    background-color: #1b1610;
    border: 2px solid #32cd32;
    border-radius: 10px;
    color: #32cd32;
    font-family: "Aldrich";
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-shadow: 
        1px 0px 8px #2e8b57,
        -1px 0px 10px #006400;
}
        
button:hover {
    background-color: #202020;
}

button:active {
    background-color: #1b1610;
}

.header {
    text-align: center;
}

.parent-board {
    text-align: center;
}

.child-board {
     background-color: #2a3439;
    border: 2px solid #32cd32;
    border-radius: 5px;
    box-shadow:
        /*inset -10px -10px 5px #1b1610,*/
        30px 18px 1px #1b1610;
    color: #32cd32;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    vertical-align: middle;
    text-align: left;
    width: 40%;
}

.board {
    background-color: #2a3439;
    border: 2px solid #32cd32;
    border-radius: 5px;
    box-shadow:
        /*inset -10px -10px 5px #1b1610,*/
        30px 18px 1px #1b1610;
    color: #32cd32;
    margin : 20px auto;
    padding: 20px;
    width: 80%;
}

.single-element {
    background-color: #1b1610;
    border-radius: 5px;
    color: #32cd32;
    margin : 20px auto;
    padding: 20px;
    width: 90%;
}

.single-element:hover {
    background-color: #202020;
}

.modal {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background-color: rgb(0 0 0 / 30%);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-board {
    animation-name: slideIn;
    animation-duration: 0.8s;
    background-color: #2a3439;
    border: 2px solid #32cd32;
    border-radius: 5px;
    bottom: 30%;
    color: #32cd32;
    left: 20%;
    margin : 20px auto;
    padding: 20px;
    position: fixed;
    width: 60%;
}

@keyframes slideIn {
    from { bottom: -300px; opacity: 0 }
    to { bottom: 30%; opacity: 1 }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
