div.child-board
    h2 Projects
    hr
    br
    br
    br

// Components:
// - GETS ALL PROJECTS
// - EACH PROJECT SHOULD BE IN A DIV TO BE ABLE TO BE EDITABLE
//   - GET PROJECT
//   - DISPLAY A FORM TO EDIT
// - BUTTON TO ADD NEW PROJECT
//   - DISPLAY A FORM 
//   - SUBMIT BUTTON (SUBMIT, RESETS AND HIDES FORM)
//   - CANCEL BUTTON (RESETS FORM AND HIDES IT)
