div.board
    h2 Pendencies
    hr
    br
    br
    br
    br

// Components:
// - GETS ALL PENDENCIES
// - EACH PENDENCY SHOULD BE IN A DIV TO BE ABLE TO BE EDITABLE
//   - GET PENDENCY
//   - DISPLAY A FORM TO EDIT
