div.child-board
    h2 Chores
    hr
    br
    br
    br
    br
    br


// Components:
// - GETS ALL CHORES
// - EACH CHORES SHOULD BE IN A DIV TO BE ABLE TO BE EDITABLE
//   - GET CHORE
//   - DISPLAY A FORM TO EDIT
// - BUTTON TO ADD NEW CHORE
//   - DISPLAY A FORM 
//   - SUBMIT BUTTON (SUBMIT, RESETS AND HIDES FORM)
//   - CANCEL BUTTON (RESETS FORM AND HIDES IT)
